@model IEnumerable<CourseRegistration>

<h2>Kayıt Listesi</h2>
<a asp-action="Create" class="btn btn-primary">Kayıt Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 150px;">@Html.DisplayNameFor(m => m.RegistrationId)</th>
            <th>@Html.DisplayNameFor(m => m.Student.StudentAd)</th>
            <th>@Html.DisplayNameFor(m => m.Course.Title)</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr><!--item ile ulaştığım kişinin bilgilerini gösterdim-->
                <td>@Html.DisplayFor(modelItem => item.RegistrationId)</td>
                <td>@Html.DisplayFor(modelItem => item.Student.StudentAd)</td>
                <td>@Html.DisplayFor(modelItem => item.Course.Title)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.StudentId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
