@model IEnumerable<Course>

    <h2>Kurs Listesi</h2>
    <a href="/Course/Create" class="btn btn-primary">Kurs Ekle</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <!-- bu şekilde de yapabilirim helper ile yaptım aşağıda
                    <th>Kurs Id</th><model ismini alır
                <th>Kurs Adı</th>
                -->
                <th>@Html.DisplayNameFor(m => m.CourseId)</th><!--DisplayNameFor(course.cs veritabanında oluşturduğum tablonun)=>model ismini alır-->
                <th>@Html.DisplayNameFor(m => m.Title)</th>
                <th>@Html.DisplayNameFor(m => m.Teacher.TeachertAdSoyad)</th><!--öğretmen bilgisini gösterdim-->
                <th style="width: 150px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model){
                <tr>
                    <!--<td>@item.CourseId</td> eski yöntem-->
                    <td>@Html.DisplayFor(modelItem => item.CourseId)</td><!--DisplayFor=>değerlerini alı alır-->
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Teacher.TeachertAdSoyad)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CourseId" class="btn btn-sm btn-primary">Edit</a><!--asp-route-id="@item.CourseId ile butona basınca edit sayfasına o kişinin id si gidecek ve onun bilgileri görünecek-->
                        <a asp-action="Delete" asp-route-id="@item.CourseId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
    
    